.alert {
  position: absolute;
  top: 0;
  background-color: white;
  color: black;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 0.5rem 0 rgb(255, 255, 255, 0.75);
  background-color: rgba(240, 194, 194, 0.952);
  z-index: 100;
  min-width: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0.5rem 1rem;
}

.header button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transition: transform 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header button:hover {
  transform: rotate(180deg);
}

.header h3 {
  color: #faf8f8;
}

.errors {
  padding: 1rem;
}

.errors p {
  font-weight: 500;
  color: rgb(250, 39, 24);
}
